# Copie este arquivo para .env e preencha com suas credenciais


GOOGLE_API_KEY=sua_chave_aqui_sem_aspas


# Google Cloud Project ID
#GCP_PROJECT_ID=seu-projeto-gcp-aqui

# Google Cloud Storage Bucket
#GCP_BUCKET_NAME=movida-data-lake

# BigQuery Dataset ID
#GCP_DATASET_ID=movida_dataset

# Caminho para arquivo de credenciais (opcional)
# GCP_CREDENTIALS_PATH=/caminho/para/sua-chave.json

# Se preferir usar variável de ambiente:
# export GOOGLE_APPLICATION_CREDENTIALS=/caminho/para/sua-chave.json